.banner {
    background-image: url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    min-height: 1024px;
    background-size: cover;
    /* Scale the image to cover the entire div */
    background-position: center;
    /* Center the image within the div */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    /* Aligns horizontally */
    align-items: center;
    /* Aligns vertically */
    height: 100vh;
    /* Full height of the viewport */
}

/* img {
    display: block;
    max-width: 100%;
} */

.container1 {

    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
    min-height: 520px;
    flex-direction: column;
}

.proyect-container {
    display: flex;
    justify-content: center;
}

button {
    background-color: #0094D9;
    border: 0;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    border-radius: 0.375rem;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}

#feature {
    background-color: #F0585E;
}

.featureContent p {
    color: white;
}

.featureContent h2 {
    color: white;
    font-size: 28px;
    margin-bottom: 24px;
}


.features {
    display: grid;
    gap: 32px;
}

.features h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 0;
}

.featureImg img {
    height: 100%;
    border-radius: 6px;
    max-height: 312px;
}

.banner-button {
    padding-top: 72px;
}

#card-section {
    background-color: #CEEFFF;
}


#proyect p {
    margin-left: 0;
}

#proyect a {
    align-self: center;
}

.card {
    padding: 32px;
    max-width: 320px;
    border-radius: 8px;
    background-color: #CEEFFF;
    border: 1px black;
}

#eConsulo {
    margin-bottom: 32px;
}

#proyectContentCard {
    margin-bottom: 24px;
    margin-left: 0;
}



#proyectContentCard p {
    font-size: 18px;
    margin-bottom: 0;
}

#proyect .card-title {
    margin-bottom: 0;
}

.card #eConsulo {
    width: 100%;
    /* Make the image take the full width of the container */
    height: 100%;
    /* Make the image take the full height of the container */
    max-width: 165px;
    max-height: 46px;
}

#proyect {
    max-width: 465px;
    max-height: 328px;
    background-color: white;
}

h1 {
    font-size: 36px;
    margin-bottom: 48px;
    text-align: center;
}

.header {
    color: white;
    margin-bottom: 0;
    font-size: 86px;
}

.title {
    display: flex;
}

.footer {
    background-color: #CEFFD0;
    padding-bottom: 4em;
    padding-top: 4em;

}

#footer-elements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.5em;
}

.footer h2 {
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 1.5em;
}



.card h2 {
    font-size: 20px;
    margin-left: 16px;
    font-weight: 700;
}


.card-title img {
    color: #0094D9;
}

p {
    font-size: 16px;
    color: #717171;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card-content {
    margin-left: 16px;
}

.accordeon .contentBx {
    position: relative;
    margin: 0.625em;
    margin-left: 0;
    margin-right: 0;
}

.contentBx .label {
    font-size: 1.5rem;
}

.accordeon .contentBx .label {
    position: relative;
    padding: 10px;
    border-top: 1px solid #DDDDDD;
    cursor: pointer;
}

.accordeon .contentBx .label::before {
    content: '+';
    color: #0094D9;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.accordeon .contentBx.active .label::before {
    content: '-';
    font-size: 1.5rem;
}

.accordeon .contentBx .content {
    position: relative;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
}

.accordeon .contentBx.active .content {
    height: 150px;
    padding: 10px;
}

#form-section {
    /* background-color: #E4FFE7; */
    border-bottom: 0;
}

.form-control {
    height: 3rem;
    border-radius: 0.375rem;
    border-color: #B0B0B0;
}

form {
    display: grid;
    gap: 2.5em;
}

.form-container {
    display: grid;
    gap: 1.5em;
    width: 100%;
}

.row {
    display: grid;
    gap: 40px;
}

.subContainer {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}


.button-container {
    display: flex;
    justify-content: center;
}

.sub-section {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 64px;
    padding-top: 64px;
}

.nav-bar {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* background: none; */

}

.nav-elements {
    width: 40%;
    margin: auto;
    display: flex;
    gap: 1em;
}

.navigation {
    align-self: center;
    display: flex;
    gap: 1.5em;
}


.logo {
    max-width: 9.375em;
}

.logo-slot {
    padding-right: 1em;
}


.navigation a {
    color: white;
    font-weight: 600;
}

@media (max-width: 820px) {
    .feature1 {
        flex-wrap: wrap;
    }

    #feature2 {
        flex-wrap: wrap-reverse;
    }
}



@media (max-width:500px) {
    .header {
        font-size: 48px;
    }

    .nav-elements {
        justify-content: center;
    }

    .navigation {
        display: none;
        justify-content: center;
    }

    .card-container {
        justify-content: center;
    }

    .card-title {
        flex-direction: column;
        gap: 32px;
    }

    .card-title img {
        max-height: 63px;
    }

    .card p {
        justify-content: center;
    }

    .feature1 {
        padding: 0;
    }

    .sub-section {
        width: 90%;
    }

    .card {
        padding: 0;
    }

    #footer-elements {
        display: grid;
        gap: 2.5em;
        justify-content: center;
    }

    .footer h2 {
        padding-bottom: 1em;
        margin-bottom: 0;
    }
}



.titleIcon {
    justify-content: center;
    display: flex;
    margin-bottom: 16px;
}

.titleIcon img {
    height: 40px;
}

@media (max-width:1024px) {

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .sub-section {
        width: 60%;
    }

    .feature1 {
        display: inline-flex;
        gap: 80px;
        padding: 16px;
        flex-direction: row;
    }

    #feature2 {
        display: inline-flex;
        flex-direction: row;
    }

}

@media (max-width:1024px) {

    .sub-section {
        width: 70%;
    }

    .feature1 {
        gap: 40px
    }

    .subContainer .featureImg {
        display: none;
    }

    .featureImg {
        max-height: 220px;
    }

    .feature1 {
        display: inline-flex;
        gap: 80px;
        padding: 16px;
        flex-direction: row;
    }

    #feature2 {
        display: inline-flex;
        flex-direction: row;
    }

    .nav-elements {
        width: 80%;
    }

}


@media (max-width:1280px) {
    .header {
        font-size: 70px;
    }

    .nav-elements {
        width: 70%;
    }

    .sub-section {
        width: 60%;
    }

    .feature1 {
        display: inline-flex;
        gap: 80px;
        padding: 16px;
        flex-direction: row;
    }

    #feature2 {
        display: inline-flex;
        flex-direction: row;
    }

}



@media (max-width:820px) {
    .card-container {
        gap: 0;

    }

    .nav-elements {
        width: 90%;
    }
}

.features {
    justify-content: center;
}

.header {
    font-size: 56px;
}

.sub-section {
    width: 80%;
}

/* .feature1 {
        flex-wrap: wrap;
    } */

/* #feature2 {
        flex-wrap: wrap-reverse;
    } */

.featureImg {
    justify-content: center;
    display: flex;
}

.contentBx .label {
    font-size: 24px;
}

@media (min-width:2200px) {

    .sub-section {
        width: 50%;
    }

    .nav-elements {
        width: 50%;
    }

    /* .feature1 {
            display: inline-flex;
            gap: 80px;
            padding: 16px;
            flex-direction: row;
        }
        
        #feature2{
            display: inline-flex;
            flex-direction: row;
        } */

}

.feature1 {
    display: inline-flex;
    gap: 80px;
    padding: 16px;
}

#feature2 {
    display: inline-flex;
}

.legal {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    gap: 1em;
}

.social {
    max-width: 1.5em;
    max-height: 1.5rem;
}